.ExportImport section {
    margin-bottom: 50px;
}
.ExportImport h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.ExportImport__info {
    color: #777;
    margin: 20px 0;
}
