.App-header {
    padding: 20px;
    text-align: center;
    background: #404040;
    color: #fff;
}
.App-header h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}
.App-content {
    margin: 50px auto;
    max-width: 1600px;
}
.disclaimer {
    color: #993333;
    margin-bottom: 20px;
}
