.Chart {
    margin-top: 80px;
    background: #fff;
    
    h3 button {
        margin-left: 20px;
    }
}

.Charts__chart-container {
    background: #fff;
    
    &:fullscreen {
        padding: 20px;
    }
}
